<div class="text-center my-5">
  <h1 class="display-1">404</h1>
  <h2 class="text-muted">Roundabout not found</h2>
  <%= link_to app_root_url, class: 'text-muted small mt-5' do %>
    Roundabout?
  <% end %>
</div>
