<h1>Roundabout</h1>
<h2 class="text-muted">Custom and short links</h2>

<hr />

<ul>
  <li>
    <strong>Links:</strong>
    <%= @stats.links %>
  </li>

  <li>
    <strong>Accesses:</strong>
    <%= @stats.accesses %>
  </li>
</ul>

<hr />

<a href="https://evandro.sasse.it">by evsasse</a>
